@model WordApp.Models.ChangePass

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Zmień hasło</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
     
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="alert alert-info text-info ">
                Wpisz adres email przypisany do twojego konta. Zostanie na niego wysłany link do zmiany hasła.
            </div>
            
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Wyślij" class="btn btn-dark" />
            </div>
        </div>
        @if (ViewBag.Message != null && Convert.ToBoolean(ViewBag.IsChanged))
        {
            <div class="alert alert-success col-md-12">
                @ViewBag.Message
            </div>
        }
        @if (ViewBag.Message != null && !Convert.ToBoolean(ViewBag.IsChanged))
        {
        <div class="alert alert-danger  col-md-12">
            @ViewBag.Message
        </div>
        }
    </div>
}



@section Scripts{
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

